<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>계정관리시스템 메인</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akshar&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<body style="width: auto;max-height: 1080px;background: url(&quot;/assets/img/menu-bar.jpg&quot;);background-size: cover; background-attachment: fixed;">
    <nav class="navbar navbar-expand-md py-3" style="background: transparent;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/main">
                <span class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-shield-lock-fill" style="font-size: 35px;">
                        <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"></path>
                    </svg>
                </span>
                <span style="font-size: 25px;color: rgb(255,255,255);">계정관리시스템</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/main" style="color: #ffffff;font-size: 15px;font-family: Akshar, sans-serif;">시스템 계정 현황</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewpassword" style="color: #ffffff;font-size: 15px;font-family: Akshar, sans-serif;">패스워드 확인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addsystem" style="color: #ffffff;font-size: 15px;font-family: Akshar, sans-serif;">시스템 추가</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" style="color: #ffffff;font-size: 15px;font-family: Akshar, sans-serif;">관리자 메뉴</a>
                    </li>
                    <li class="nav-item" style="margin-left: 220px;">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" style="color: #e37575;font-size: 15px;font-family: Akshar, sans-serif;font-weight: bold;">로그아웃</a>
                    </li>
                </ul>
                <p id="text" style="color: white; font-size:18px; text-align: center; margin: 0px;margin-left: 60px;">
	            	<a th:text="|${UUID} 님 환영합니다|"></a>
	           	</p>
            </div>
        </div>
    </nav>
    <div id="maincontent" style="margin-right: 20px;margin-left: 20px;height: 800px;background: #ffffff;">
        <h5 style="background: #cccccc;padding-left: 20px;font-size: 15px;padding-bottom: 5px;padding-top: 5px;">시스템 계정 현황</h5>
        <div id="searchsection" style="position: relative;padding-top: 10px;">
            <div id="searchoption" class="table-responsive" style="margin-left: 60px; margin-right: 60px;">
                <form name="form" id="findpassword" method="post">
                    <table class="table table-borderless" style="table-layout: fixed; text-align: center; border: solid 3px;">
                        <thead>
                            <tr>
                                <th style="float:right; padding-top: 15px;">서버 IP</th>
                                <th>
                                    <input class="form-control" type="text" id="serverip" style="display: inline-block;" name="serverip" placeholder="서버 IP 입력">
                                </th>
                                <th>
                                    <input class="btn btn-primary" type="submit" id="searchbyid" value="검색" onClick="getPost()" style="width: 100px; float:left;">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
        </div>
        <div id="responsetable" style="margin-right: 60px;margin-left: 60px;height: 600px;">
            <div class="table-responsive" style="height: 600px;">
                <table class="table table-bordered" style="text-align: center; overflow: auto;">
                    <thead class="table-primary">
                        <tr>
                            <th>SID</th>
                            <th>서버 명</th>
                            <th>서버 IP</th>
                            <th>서버 MAC</th>
                            <th>물리/가상</th>
                            <th>서버 OS</th>
                            <th>모델명</th>
                            <th>S/N</th>
                            <th>주 관리자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="serverlist, serverlistStat : ${postsPages}">
                            <td th:text="${serverlist.sid}"></td>
                            <td th:text="${serverlist.servername}"></td>
                            <td>
                            	<a th:href="|/viewpassword/${serverlist.serverip}|" th:text="${serverlist.serverip}" style="text-decoration: none;"></a>
                            </td>
                            <td th:text="${serverlist.servermac}"></td>
                            <td th:text="${serverlist.serverst}"></td>
                            <td th:text="${serverlist.serveros}"></td>
                            <td th:text="${serverlist.servermodel}"></td>
                            <td th:text="${serverlist.serversn}"></td>
                            <td th:text="${serverlist.serveradmin}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 페이지 네이션 바 -->
        <div id="pagenationsbar" style="margin-right: 60px;margin-left: 60px;">
            <nav id="pagenation" style="text-align: center;margin-right: 43.25%;margin-left: 43.25%;">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" th:href="@{/main(page=1)}">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/main(page=1)}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/main(page=2)}">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/main(page=3)}">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/main(page=4)}">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/main(page=5)}">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" th:href="@{/main(page=6)}">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <footer class="text-center" style="background: transparent;margin-top: 0;">
        <div class="container text-white py-4 py-lg-5">
            <p class="mb-1" style="color: #ffffffc0;">Copyright © 2024 CompanyName</p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript">
    	function getPost() {
    		var Serverip = $("input[name=serverip]").val();
			if (Serverip == "") {
				alert("검색하고자 하는 IP를 입력하세요.");
			} else {
    			var form = document.form;
    			form.action = "/viewpassword/"+ Serverip;
    			form.submit();
			}
    	}
    </script>
</body>

</html>